/**
 * Cabeçalho (Header) do Site
 *
 */

 .header-frame {
     min-height: $basal-leading * 3;
 }

 .header-float {
     background: rgba(255, 255, 255, 1);
     position: fixed;
     top: 0;
     top: 0;
     width: 100%;
     z-index: 999;
     opacity: 1;
     transition: all 0.3s ease;
 }

 .header {
     text-transform: uppercase;
     min-height: $basal-leading * 3;
 }

 .header-inline .site-logo {
     margin: $basal-leading 0 0 0;
     padding-left: $basal-padding;
 }

 .site-logo h1,
 .site-logo h1 a {
     color: #000;
     font-size: 17px;
     font-weight: 700;
     line-height: $basal-leading;
     letter-spacing: 1px;
     margin: 0;
     padding: 0;
     height: $basal-leading;
     width: auto;
     min-height: 1em;
     display: block;
     overflow: hidden;
     border: none;
     background-image: none;
 }

 @media (max-width: 800px) {

     .header-frame {
         min-height: auto;
     }

     .header .site-name {
         padding: 0 0;
     }

 }
