/**
* Corpo do Site
* Envolve o post, sidebar e tudo que tiver entre o Cabeçalho e o Rodapé.
*
*/

/**
* Header e descrição de Categoria e similares
*/

.page-title {
    font-size: 1.5em;
    line-height: 1em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    vertical-align: text-top;
    padding: 0 0;
    min-height: $basal-leading * 2;
}

.page-title strong {
    font-size: 2em;
    line-height: 1.5em;
    display: block;
}


/**
* Conteúdo principal
* Somente a parte do Post
*
*/

.post + .post {
    padding-top: $basal-leading * 1;
}

.post a {
    color: #191D33;
    border-bottom: 1px solid #7AB1CC;
}

.post a:visited { border-bottom: 1px solid #B17ACC; }


.entry-title,
.entry-title a {
    color: #000000;
    font-weight: 300;
    border: 0;
}

.entry-title a {
    top: -5px;
    position: relative;
}

.entry-title { max-width: 90%; }

.entry-content {
    color: #2E2E33 ;
    font-weight: 400;
}

.screen-reader-text {
    position: absolute;
    visibility: hidden;
}


/**
* Conteúdo de Metadata
*/
.post > header {
    position: relative;
    padding-bottom: $basal-leading;
}

.post-edit-link,
.post .post-edit-link {
    color: #333;
    border: none;
    margin: 0 10px;
    padding: 2px 6px;
    border-radius: 3px;
    background-color: #E6E6E6;
}

.post-edit-link:hover {
    color: #ffffff;
    background-color: #808080;
}

.entry-metadata {
    font-size: 1.1em;
    font-weight: normal;
    line-height: 1em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0 3px;
    position: absolute;
    bottom: $basal-leading / 3;
}

.entry-metadata .post-date,
.entry-metadata .author,
.entry-metadata .categories {
    margin: 0 1em 0 0;
}

.entry-footer .entry-tags {
    color: #ffffff;
    margin-top: $basal-leading;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    padding: 7px 0 21px;
}
.entry-footer .entry-tags .tags-links,
.entry-footer .entry-tags a {
    font-size: 0.65em;
    font-weight: 400;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    background-color: $grey-lighter;
    padding: 0.25em 0.4em;
}

.entry-footer .entry-tags .tags-links::after {
    content: ": ";
}

.author-info {
    padding: $basal-padding 0 0 $basal-padding / 2;
    min-height: $basal-leading * 4;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    // border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
}

.author-info-card {
    max-width: $basal-col-fixed * 4;
    border: 1px solid rgba(0, 0, 0, 0.10);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 1);
    position: relative;
    z-index: 5;
}

.author-info .author-avatar img {
    border-radius: 49%;
}

.author-info .author-description {
    padding: 0 $basal-padding;
}

.author-info .author-description h2 {
    font-size: 1.6em;
    font-weight: 600;
    line-height: 1em;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    padding: 0 0 0.3em;
    min-height: 1em;
}

.author-info .author-description p {
    font-size: 1.6em;
    line-height: 1.2em;
    padding: 0 0;
}

.author-info .author-description .author-link {
    font-size: 0.8em;
    font-weight: 600;
    display: table-cell;
}

.footnotes ol {
    padding: 0 0 0 2em;
}

.footnotes ol p {
    line-height: 1.3em;
    padding: 0 0 1em 0.5em;
}

.footnotes li {
    font-size: 1.4em;
}


@media (max-width: $basal-media-tablet) {

    .post > header {
        position: relative;
        padding-bottom: $basal-leading * 2.5;
    }

    .entry-metadata {
        font-size: 1.4em;
        line-height: 1.6em;
        margin: 0 0 5px $basal-padding;
        width: 91%;
        position: absolute;
    }

    .entry-metadata .post-date,
    .entry-metadata .author,
    .entry-metadata .categories {
        display: block;
        position: relative;
    }

    .entry-metadata .categories {
        display: block;
    }

    .post-edit-link,
    .post .post-edit-link {
        margin-right: 0;
        position: absolute;
        top: 0;
        right: 0;
    }

    .author-info {
        max-width: 90%;
        display: block;
        margin: 0 auto;
    }

    .author-info .author-avatar {
        padding: 15px;
    }

    .author-info .author-description {
        padding: 0 0;
    }

}
