/**
 * Widget do Site
 *
 */

 .widget {
     margin: 0;
     min-height: $basal-leading * 3;
 }

 .widget + .widget {
     margin: $basal-leading 0 0;
 }

 .widget_calendar {
     min-height: $basal-leading * 7;
 }

 #secondary .widget {}

 .widget-area .widget-title {
     line-height: 1.4em;
     padding: 0 0;
     min-height: $basal-leading;
 }

 .widget ul {
     margin: 0;
     padding: ($basal-leading / 2) 0 0;
     list-style: none;
 }

 .widget ul li {
     line-height: 1.3em;
     padding-bottom: $basal-leading / 3;
 }

 .widget ul li a {
     font-weight: 400;
     text-decoration: none;
 }

 .footer .widget {
      margin: 0 0 0;
      min-height: $basal-leading * 3;
  }

  .widget_recent_entries h2 {
      line-height: 1.4em;
      padding: 0;
      min-height: $basal-leading;
  }

  .widget_recent_entries ul {
      padding: 0;
  }

  .widget_recent_entries li {
    display: block;
    position: relative;
  }

  .widget_recent_entries li:hover {
      background-color: $grey-lighter;
  }

  .widget_recent_entries li + li {
      padding: 0.5em 0 1em;
      border-top: 1px solid $grey-base;
  }

  .widget_recent_entries li a {
      font-size: 1.4em;
      line-height: 1.25em;
      font-weight: bold;
      display: block;
      padding: 0.5em 0;
      min-height: $basal-leading * 1;
  }

  .widget_recent_entries li a:after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
  }
