/**
 * CSS para plugins conhecidos
 *
 */

/**
 * Crayon Syntax Highlighter
 */

.crayon-table td {
    font-size: 1.2em;
    line-height: 21px;
}

.crayon-num,
.crayon-line {
    min-height: 20px;
}

/* Fim */
