
.header {
    text-transform: uppercase;
}

.header-inline .site-logo {
    margin: $basal-leading 0 0 0;
}

.site-logo h1,
.site-logo h1 a {
    color: #000;
    font-size: 17px;
    font-weight: 700;
    line-height: $basal-leading;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
    height: $basal-leading;
    width: auto;
    min-height: 1em;
    display: block;
    overflow: hidden;
    border: none;
    background-image: none;
}

@media (max-width: 800px) {

    .header .site-name {
        padding: 0 0;
    }

}
