.post a {
    color: #191D33;
    border-bottom: 1px solid #7AB1CC;
}

.post a:visited { border-bottom: 1px solid #B17ACC; }

.post-edit-link,
.post .post-edit-link {
    color: #333;
    border: none;
    margin: 0 10px;
    padding: 2px 6px;
    border-radius: 3px;
    background-color: #E6E6E6;
}

.post-edit-link:hover {
    color: #ffffff;
    background-color: #808080;
}

.entry-metadata {
    font-size: 1.1em;
    font-weight: normal;
    line-height: 1em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0 3px;
    position: absolute;
}

.entry-metadata .post-date,
.entry-metadata .author,
.entry-metadata .categories {
    margin: 0 1em 0 0;
}

.entry-title,
.entry-title a {
    color: #000000;
    font-weight: 300;
    border: 0;
    padding: 15px 0 15px;
}

.entry-title { max-width: 90%; }

.entry-content {
    color: #2E2E33 ;
    font-weight: 400;
}

@media (max-width: 800px) {

    .entry-metadata {
        line-height: 1.5em;
        margin: 0 16px;
        position: relative;
    }
    .entry-metadata .post-date,
    .entry-metadata .author,
    .entry-metadata .categories {
        display: block;
        position: relative;
    }

}