.post a {
    color: #191D33;
    border-bottom: 1px solid #7AB1CC;
}

.post a:visited { border-bottom: 1px solid #B17ACC; }


.entry-title,
.entry-title a {
    color: #000000;
    font-weight: 300;
    border: 0;
    padding: 15px 0 15px;
}

.entry-title { max-width: 90%; }

.entry-content {
    color: #2E2E33 ;
    font-weight: 400;
}

.screen-reader-text { position: absolute; visibility: hidden; }

.post + .post {
    padding-top: $basal-leading * 2;
}